<!DOCTYPE HTML>
<HTML>
    <HEAD>
            <TITLE> urltor.in </TITLE>
    </HEAD>
    <BODY>
            <P>
                Enter onion url below to generate short url link.
            </P>
            <form action="/generate_shorturl" method = "POST">
                <label for="url">Onion Url: </label>
                <input type = "text" id='url' name = "http://2gzyxa5ihm7nsggfxnu52rck2vv4rvmdlkiu3zzui5du4xyclen53wid.onion/index.html" />
                <br>
                <label for="days"> Days for Link Expiration </label>
                <input type='number' id='days' name = 'days'>
                <p><input type = "submit" value = "Submit" /></p>
            </form>
            <P>
                No Tracking. No Logging. All links expire in 1 year. 
            </P>
    </BODY>
</HTML>
