<!DOCTYPE HTML>
<HTML>

    <HEAD>
            <TITLE> urltor.in Redirect </TITLE>
            <META http-equiv="refresh" content="5;URL={{long_url}}">
    </HEAD>
    
    <BODY>
               <P>
                     In 5 seconds, {{short_url}} will Redirect to:
                    <BR>
                        <A HREF="{{long_url}}"> {{long_url}} 
                        </A>
                    <BR>
               </P>
               
               <P>
                    To Cancel Redirect
                    <BR>
                        <A HREF="{{url_for('index')}}"> Click Here </A>
                    <BR>
               </P>
    </BODY>
</HTML>
